/*overflow样式*/::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background: #fff; box-shadow: inset 0 0 6px #d1cfcf; border-radius: 10px; }
::-webkit-scrollbar-thumb { background: #000; border-radius: 12px; -webkit-box-shadow: inset 0 0 6px #000; }
::-webkit-scrollbar-thumb:window-inactive { background: rgba(245, 245, 245, 0.4); }
::-moz-scrollbar { width: 5px; }
::-moz-scrollbar-track { background: #fff; box-shadow: inset 0 0 6px #d1cfcf; border-radius: 10px; }
::-moz-scrollbar-thumb { background: #000; border-radius: 12px; -webkit-box-shadow: inset 0 0 6px #d1cfcf; }
::-moz-scrollbar-thumb:window-inactive { background: rgba(245, 245, 245, 0.4); }

html { height: 100%; margin-top: 10px; }
body { height: 100%; margin: 0px; padding: 0px; }
#ctrl_field {
    float: left;
    position: relative;
    width: 0;
    height: 100%;
    overflow-x:hidden;
}
#inputSection {
    width: 100%;
    height: 100%;
    overflow-x:hidden;
    overflow-y: auto;
}

#code_close {
    display: none;
    background: url(../img/result.png) no-repeat 0 -242px;
    width: 14px;
    height: 90px;
    position: absolute;
    left: 14;
    z-index: 9999;
    top: 50%;
    margin-top: -45px;
}

#container {
    height: 100%;
}
